.sort-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 80px;
  padding: 20px 24px;
  // border-radius: 8px;
}

.sort-btn-style {
  border: 1px solid #f2a09e;
  color: #888888;
  font-weight: 700;
  font-size: 32px;
  background-color: #ffffff;
}
